<div class="search">
	<f:form action="list" name="search">
		<dl>
			<dt><label><f:translate key="tx_jobcenter_domain_model_contact.name" /></label></dt>
			<dd><f:form.textfield name="name" value="{name}" /></dd>
		</dl>
		<dl>
			<dt><label><f:translate key="tx_jobcenter_domain_model_contact.self-reliance" /></label></dt>
			<dd><f:form.checkbox name="selfreliance" value="1" /></dd>
		</dl>
		<dl>
			<dt><label>&nbsp;</label></dt>
			<dd><f:form.submit value="{f:translate(key: 'search')}" /></dd>
		</dl>
	</f:form>
</div>
