<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="search">
    <f:form action="list" name="search" class="extform">
        <div class="extdiv">
            <label>{f:translate(key: 'tx_jobcenter_domain_model_contact.name')}</label>
            <f:form.textfield name="name" value="{name}"/>
        </div>
        <div class="extdiv">
            <label>{f:translate(key: 'age')}</label>
            <f:form.select name="pid" options="{pids}" value="{pid}"/>
        </div>
        <div class="extdiv">
            <label>{f:translate(key: 'tx_jobcenter_domain_model_contact.handicapped')}</label>
            <f:form.checkbox name="handicapped"
                             value="1"
                             checked="{f:if(condition: handicapped, then: 'checked', else: '')}"/>
        </div>
        <div class="extdiv">
            <label>{f:translate(key: 'tx_jobcenter_domain_model_contact.self_reliance')}</label>
            <f:form.checkbox name="selfReliance"
                             value="1"
                             checked="{f:if(condition: selfReliance, then: 'checked', else: '')}"/>
        </div>
        <div class="powermail_fieldwrap_submit marginbottom">
            <f:form.submit value="{f:translate(key: 'search')}"
                           class="powermail_submit"/>
        </div>
    </f:form>
</div>
</html>
